@import 'style'

.tc-container 
    display: flex
    flex-flow: row nowrap
    justify-content: center
    align-items: center

.tc-mid-container
    display: flex
    flex-flow: column nowrap
    justify-content: center
    align-items: center

.tc-image-container
    border: 1px solid black
    margin: 0.15em
    padding: 0.15em 

.tc-image
    width: 200px


.img-con
    display: block
    text-align: center
    position: relative

.gua-con
    position: relative

.yao-con
    position: absolute
    left: 0

.gua-img
    width: 50%

.gua-img-secondary
    width: 25%

.yao-img
    width: 50%

.yao-1 
    top: 79%
.yao-2
    top: 62%
.yao-3
    top: 46%
.yao-4
    top: 29%
.yao-5
    top: 13%
.yao-6
    top: -4%
